:root {
  --main-header-hight: 3.5rem;
  --sidebar-width: 0rem;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  scrollbar-color: hsl(0, 0%, 67%) transparent;
}

body {
  margin: 0;
  background-color: #0f0f0f;
  color: white;
}


/* -- HEADER -- */
.main-header-wrapper {
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: var(--main-header-hight);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0f0f0f;
  z-index: 999;
}

.start {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 0 0 10px;
}

.burger-menu {
  padding: 0.5rem;
}

.logo {
  font-size: 1.8rem;
  display: flex;
  flex-wrap: nowrap;
  gap: .2rem;
}

.logo>img {
  width: 90px;
}

.logo-country-text {
  font-size: x-small;
  vertical-align: top;
  color: #aaa;
}

.center {
  display: none;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 auto;
}

.search {
  display: flex;
  align-items: center;
  max-width: 60%;
  flex: 1 1 auto;
}

.search-field {
  border: hsl(0, 0%, 18.82%) solid 1px;
  border-radius: 40px 0 0 40px;
  padding: .6rem .25rem .6rem 1rem;
  background-color: #121212;
  font-size: 1rem;
  color: #777;
  max-width: 515px;
  flex: 1 1 auto;
}

.search-button {
  display: flex;
  align-items: center;
  border: hsl(0, 0%, 18.82%) solid 1px;
  border-radius: 0 40px 40px 0;
  padding: 0 .25rem 0 1rem;
  background-color: hsl(0, 0%, 18.82%);
  height: 40px;
  width: 64px;
  flex: 0 0 64px;
}

.mic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 18.82%);
  border-radius: 40px;
  height: 40px;
  width: 40px;
}

.end {
  display: flex;
  gap: .4rem;
  flex: 0 0 10px;
}

.search-mini-header {
  display: flex;
  align-items: center;
}

.mic-mini-header {
  display: none;
  align-items: center;
}

.dot-menu {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 12px 0 8px;
  border-radius: 40px;
  color: #3ea6ff;
  font-size: 14px;
  height: 36px;
  text-wrap: nowrap;
}

/* ----- SIDEBAR ----- */
aside {
  display: none;
  position: fixed;
  top: var(--main-header-hight);
  left: 0;
  bottom: 0;
}

/* narrow menu */
.narrow-menu {
  display: none;
}

.narrow-menu>ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.narrow-menu-item {
  list-style-type: none;
  padding: 1.25rem .35rem;
}

.narrow-menu-item>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: .6rem;
}

/* wide menu */
.wide-menu {
  display: none;
}

.wide-menu>ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.wide-menu-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: .5rem 4rem .5rem .75rem;
  margin-left: .6rem;
  border-radius: .625rem;
}

.wide-menu>ul:first-child {
  padding-top: 1rem;
}

.wide-menu-selected {
  background-color: rgb(39, 39, 39);
}

.wide-menu-item>a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

hr.wide-menu-divider {
  margin-left: 0;
  margin-right: 0;
  border: #3f3f3f solid 1px;

}

.wide-menu-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .75rem;
  padding-left: 1.1rem;
  font-size: .85rem;
}

/* ----- MAIN ----- */
.main-video-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: var(--main-header-hight) 1rem 0 calc(1.5rem + var(--sidebar-width));

}

/* Video Filters */
.inner-header {
  display: flex;
  background-color: #0f0f0f;
  font-size: .875rem;
  position: fixed;
  top: var(--main-header-hight);
  left: calc(1.5rem + var(--sidebar-width));
  right: 0;
  z-index: 999;
}

.filters {
  display: flex;
  overflow: hidden;
}

.filter-item {
  margin: .75rem .75rem .75rem 0;
  padding: 0 .75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .5rem;
  height: 2rem;
  color: rgb(241, 241, 241);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  text-wrap: nowrap;
}

.selected-item {
  background-color: rgb(241, 241, 241);
  color: rgb(15, 15, 15);
  font-weight: normal;
}

.right-arrow {
  display: flex;
  justify-content: right;
  align-items: center;
  text-wrap: nowrap;
  position: absolute;
  right: 0;
  top: .75rem;
  width: 6rem;
  height: 2rem;
  padding: 0 .75rem;
  background-image: linear-gradient(to left,
      rgb(15, 15, 15) 20%,
      rgba(33, 33, 33, 0) 80%);
  color: rgb(241, 241, 241);
}



/* Video Grid */
.main-video-content {
  margin-top: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns:
    repeat(auto-fill, minmax(310px, 1fr));
}


/* Video Card */
.video-card {
  margin: 0 auto 2rem auto;
}

.video-image {
  position: relative;
}

.video-image>img {
  display: block;
  max-width: 100%;
  border-radius: .5rem;
}

.video-length {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: .5rem;
  margin-right: .5rem;
  background-color: #222;
  border-radius: 5px;
}

.video-data {
  display: flex;
}

.channel-logo {
  padding: .75rem .75rem .75rem 0;
  flex: 0;
}

.channel-logo>img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.info-data {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: .75rem;
}

.video-meta {
  color: #aaa;
  font-size: .85rem;
  line-height: 1.2rem;
}

.video-title-text {
  font-weight: 700;
}

.video-menu {
  flex: 0;
  padding-top: .75rem;
}


/* ----- MEDIA QUERIES ----- */

/* Add mic to header */
@media (min-width: 426px) {
  .mic-mini-header {
    display: flex;
  }
}


/* Normal header w/ search field */
@media (min-width: 655px) {

  .search-mini-header,
  .mic-mini-header {
    display: none;
  }

  .center {
    display: flex;
  }
}



/* Show the narrow sidebar */
@media (min-width: 791px) {
  aside {
    display: block;
  }

  .narrow-menu {
    display: block;
  }

  .wide-menu {
    display: none;
  }

  :root {
    --sidebar-width: 4rem;
  }
}

/* Show the wide sidebar and make it scrollable */
@media (min-width: 1313px) {
  aside {
    display: block;
  }

  .narrow-menu {
    display: none;
  }

  .wide-menu {
    display: block;
    overflow-y: auto;
    max-height: 90vh;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .wide-menu:hover {
    scrollbar-color: hsl(0, 0%, 44%) transparent;
  }

  .search {
    max-width: 579px;
  }

  :root {
    --sidebar-width: 15rem;
  }
}

/* 6 columns maximum */
@media (min-width: 2545px) {
  .main-video-content {
    grid-template-columns: repeat(6, 1fr);
  }
}