 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Roboto", Arial, sans-serif;
 }

 body {
   background-color: black;
   color: white;
 }

 .video-card,
 .video-image,
 .video-length,
 .video-data,
 .channel-logo,
 .info-data {
   border: red dashed 1px;
 }

 .video-card {
   width: min-content;
 }

 .video-image {
   width: min-content;
 }




 .video-data {
   display: flex;
 }

 .channel-logo {
   padding: .75rem .75rem .75rem 0;
   flex: 0;
 }

 .channel-logo>img {
   border-radius: 50%;
 }

 .info-data {
   display: flex;
   flex-direction: column;
   flex: 1;
 }

 .video-menu {
   flex: 0;
 }